<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        <%- include('../partials/menu') %>
            <main>

                <section>
                    <article class="article-register">
                        <img class="imag-logo-register" src="/img/Logo_EDN.png">

                        <p><span>Nombre: </span><span class="answer">Medellín Centro</span></p>
                        <p><span>Dirección: </span><span class="answer"></span>Carrera 45 #19-10 local 201</span></p>
                        <p><span>Departamento: </span><span class="answer"></span>Antioquia</span></p>
                        <p><span>Ciudad: </span><span class="answer"></span>Medellín</span></p>

                        <p><a href="/offices">Volver</a></p>
                    </article>
                </section>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>