<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <section class="menu">

                    <img class="imag-logo-admin" src="img/Logo_EDN.png">
                    <ul class="menu-list">
                        <li><a href="/offices">Sedes</a></li>
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">Facturación</a></li>
                        <li><a href="#">Guías</a></li>
                        <li><a href="#">Informes</a></li>
                        <li><a href="#">Configuraciones</a></li>
                        <li><a href="#">Seguimiento de envíos</a></li>
                    </ul>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>