<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>

                <section class="section-offices">
                    <h1>Listado de Sedes</h1>

                    <div class="options-fisrt-offices">
                        <h2>Medellín Centro</h2>
                        <div class="options-offices">
                            <a href="/admin/products/1"></i>Ver</a>
                            <a href="/admin/products/editProduct/2">Editar</a>
                            <a href="/admin/products/borrar/3">Eliminar</a>
                        </div>
                    </div>

                    <div class="options-fisrt-offices">
                        <h2>Itagüí</h2>
                        <div class="options-offices">
                            <a href="/admin/products/1"></i>Ver</a>
                            <a href="/admin/products/editProduct/2">Editar</a>
                            <a href="/admin/products/borrar/3">Eliminar</a>
                        </div>
                    </div>

                    <div class="options-fisrt-offices">
                        <h2>Medellín Terminal</h2>
                        <div class="options-offices">
                            <a href="/admin/products/1"></i>Ver</a>
                            <a href="/admin/products/editProduct/2">Editar</a>
                            <a href="/admin/products/borrar/3">Eliminar</a>
                        </div>
                    </div>
                </section>

            </main>
    </body>

</html>