<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <%- include('../partials/menu') %>
            <main>

                <section class="section-offices">
                    <h1>Listado de Usuarios</h1>
                    <div class="button">
                        <p><a href="users/add">AGREGAR</a></p>
                    </div>
                    <table class="table-offices">
                        <tr>
                            <td>Juan123</td>
                            <td><a href="users/user/1">Ver</a></td>
                            <td><a href="users/edit/1">Editar</a></td>
                            <td><a href="users/delete/1">Eliminar</a></td>
                        </tr>

                        <tr>
                            <td>Andrea456</td>
                            <td><a href="users/user/1">Ver</a></td>
                            <td><a href="users/edit/1">Editar</a></td>
                            <td><a href="users/delete/1">Eliminar</a></td>
                        </tr>
                </section>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>