<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <%- include('../partials/menu') %>
                <main class="guide">
                    <section class="part-one">
                        <article>
                            <img class="imag-logo-register" src="/img/Logo_EDN.png">
                        </article>
                        <article>
                            <p>Envíos destinos nacionales</p>    
                            <p>Juan123</p>                           
                            <p>705421218</p>
                            <p>Carrera 45 #19-10 local 201</p>
                            <p>3203738547 - 4018835</p>
                        </article>
                        <article>
                            <p><span>Guía N°:</span><span>125413221</span></p>
                            <p><span>Factura N°:</span><span>125413221</span></p>
                            <p><span>Fecha:</span><span></span>04/07/2022</p>
                        </article>
                    </section>

                    <section class="part-two">
                        <article></article>
                        <article></article>
                        <article></article>
                    </section>

                    <section class="part-tree">
                        <article></article>
                        <article></article>
                        <article></article>
                    </section>
                </main>
                <%- include('../partials/footer') %>
    </body>

</html>